<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Getting Started: Serving Web Content | Standard view</title>
  </head>
  <body>
    <p th:text="'Hello standard view!'" />
  </body>
</html>

