<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Getting Started: Serving Web Content | Tablet view</title>
  </head>
  <body>
    <p th:text="'Hello tablet view!'" />
  </body>
</html>

